SuperBoyView/Service References/SuperBoyControl/SuperBoyControl21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SuperBoy.Model.Public" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SuperBoy.Model.Public" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3178/SuperBoyControl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DatabseSend">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dic" nillable="true" type="q1:ArrayOfKeyValueOfEnumArry.DatabaseanyType289I9Wus" />
      <xs:element minOccurs="0" name="No" nillable="true" type="tns:comput" />
      <xs:element minOccurs="0" name="SendType" type="tns:EnumArry.SendType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabseSend" nillable="true" type="tns:DatabseSend" />
  <xs:simpleType name="EnumArry.Database">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TOP" />
      <xs:enumeration value="WHERE" />
      <xs:enumeration value="WHERETYPE" />
      <xs:enumeration value="DATA" />
      <xs:enumeration value="Value" />
      <xs:enumeration value="Key" />
      <xs:enumeration value="UpdateKey" />
      <xs:enumeration value="UpdateValue" />
      <xs:enumeration value="TableName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumArry.Database" nillable="true" type="tns:EnumArry.Database" />
  <xs:complexType name="comput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conputNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="controlType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="randomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comput" nillable="true" type="tns:comput" />
  <xs:simpleType name="EnumArry.SendType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SELECT" />
      <xs:enumeration value="UPDATE" />
      <xs:enumeration value="DELETE" />
      <xs:enumeration value="INSTER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumArry.SendType" nillable="true" type="tns:EnumArry.SendType" />
</xs:schema>