SuperBoyView/Service References/SuperBoyControl/SuperBoyControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3178/SuperBoyControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuperBoy.Model.Public" />
  <xs:element name="SuperBoyC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SuperBoy.Model.Public" minOccurs="0" name="database" nillable="true" type="q1:DatabseSend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperBoyCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuperBoyCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>